body{
    background-color:  	rgb(40,40,40);
    color:  	rgb(240,240,240);
    font-family: 'Saira Semi Condensed', sans-serif;
}
header{
    text-align: center;
    padding: 2%;
    font-size: 200%;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#box-help, footer, #map-box, #box-button{
    background: rgba(104, 104, 104, 0.1);
    padding: 1%;
    width: 50%;
    height: 50%;
    margin: 10px;
}
#box-button{
    height: 500%;
    text-align: center;
}
#box-bar{
    flex-direction: row;
    text-align: center;
}
#urlBar{
    height: 100%;
    width: 50%;
    text-align: center;
    font-size: 200%;
    padding: 5px;
}
#copy{
    height: 100%;
    width: 20%;
    font-size: 200%;
    padding: 5px;
}



#map-box{
    width: 950px;
    height: 800px;
    text-align: center;
}
#map{
    min-height: 100%;
    min-width: 100%;
}

a:link {color: white;text-decoration: none;}
a:visited {color: white;text-decoration: none;}
a:hover {color: greenyellow;text-decoration: none;}
a:active {color: white;text-decoration: none;} 

/*mobile*/
@media only screen and (max-device-width: 950px) {
    #copy{
        height: 100%;
        width: 50%;
        font-size: 200%;
        padding: 5px;
        margin-top: 10px;
    }
    
    #map-box{
        width: 97%;
        height: 500px;
        text-align: center;
    }
}
    
    
    
    