<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Where Am I? - share </title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
  </head>
  <body> 
      <header>
          Where Am I? - share your live location through a single link!
      </header>   
        <div id="container">
            <div id="box-button">
                    <input id="urlBar" type="text" name="uniqueURL" value="">
            </div>
            <div id="box-help">
                Share the your link to share your live location!<br>
                <b>close this tab, or tap the notification to stop sharing</b>
            </div>
        </div>

        <script>
        setUniquePath("{{ uniquePath }}");
        sendCoords("{{ uniquePath }}");
        </script>
  </body>

</html>
