<!DOCTYPE html>
<html>
  <head>
    <title>Where Am I? - Location</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap"
     rel="stylesheet">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  </head>
  <body>
      <header>
          
          <a href="/">Where Am I? - A Location Sharer</a>
      </header>  
    <div id="container">
        <div id="box-help">
            <p style="font-size: 120%;margin-top: 0px;"
            >Showing current location of /{{ uniquePath }}<br></p>
            <div>  <div style="color: lightblue">Blue marker = You</div>
            <div style="color:	 #ff6666">Red marker = Sharer</div> </div>
        </div>
        <div id="map-box">
            <div id="map"></div>
        </div>
        <footer>
            <p>Created by : <a  target="_blank"  href="https://jeffersonlii.github.io/">Jefferson Li</a><br></p>
            <p>Contact information: <a  target="_blank"  href="https://github.com/Jeffersonlii">github</a> 
            <p>Site Repository : <a  target="_blank"  href=" https://github.com/Jeffersonlii/Where-Am-I-">/Where-Am-I-</a></p>
            </p>
        </footer>
    </div>

    <script>
      var map;
      function initMap() {
        console.log("{{ uniquePath }}");
        if("{{ uniquePath }}" == -1){//if no path found
          document.getElementById('map').innerHTML = "NO USER FOUND";
        }
        else if(parseFloat("{{ lat }}") == 0){
          document.getElementById('map').innerHTML = "Sharer has not enabled location, refresh after location is enabled.";
        } 
        else{//path found
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: parseFloat("{{ lat }}"), lng: parseFloat("{{ long }}")},
          zoom: 16
          });
          var targetmark = new google.maps.Marker({//the user marker
			      position:  {lat: parseFloat("{{ lat }}"), lng: parseFloat("{{ long }}")},
		      	map: map,
		      	title: 'target found!'
          });
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
              var selfmark = new google.maps.Marker({//yourself marker
			        position:  {lat: position.coords.latitude, lng: position.coords.longitude},
		      	  map: map,
              title: 'self found!',
              icon: '../static/blue-dot.png'     
              });
            });
          }
         }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}
    &callback=initMap" async defer></script>
  </body>
</html>